.navbar-inner { background-color:#556B2F; }

body{margin:0;font-family:'Open Sans',"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;line-height:18px;color:#333333;background-color:#ffffff;}
	     
